# # # # # # # # # # # # # # # # # # # # # # # # # # #
#    ___ _____  __  _    ___ ___   _   _____   __   #
#   | __/ __\ \/ / | |  | __/ __| /_\ / __\ \ / /   #
#   | _|\__ \>  <  | |__| _| (_ |/ _ \ (__ \ V /    #
#   |___|___/_/\_\ |____|___\___/_/ \_\___| |_|     #
#                                                   #
#     Discord: https://discord.gg/esx-framework     #
#     Website: https://esx-framework.org/           #
# # # # # # # # # # # # # # # # # # # # # # # # # # #

# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

### Endpoints Privacy ###
sv_endpointPrivacy true

sv_hostname "Unconfigured | ESX Legacy Server"
set steam_webApiKey "" # Required
sv_licenseKey "" # Required
sv_maxclients 10   # Allow access to features usually locked behind a FiveM patreon key

sets sv_projectName "Unconfigured | ESX Legacy Server"
sets sv_projectDesc "The official recipe of the most popular FiveM RP framework, containing Jobs, Housing, Vehicles & more!"
sets tags "default, esx, esx legacy, legacy, official, roleplay"
sv_scriptHookAllowed 0

set onesync on  # Enable OneSync [REQUIRED FOR LEGACY 1.7.5 +]
set mysql_connection_string "mysql://username:password@ip:port/database-name?waitForConnections=true&charset=utf8mb4"
set mysql_ui true

# ESX Language (edit to change the language of ESX)
# -----------------------------------------------------------
setr esx:locale "en"

# Default & Standalone Resources
# ------------------------------
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap
ensure oxmysql
ensure bob74_ipl

## Add system admins
add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

# pma-voice Config
# ----------------
setr voice_enableRadioAnim 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true


# ESX Legacy Core
# ----------
ensure [core]

# ESX Addons
# ----------
ensure [standalone]
ensure [esx_addons]

# Additional Resource
# -------------------
ensure pma-voice